# 1. Scraping Data from IMDB "List of Movies and Castings"

In [43]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [44]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'
}

In [45]:
url = "https://www.imdb.com/chart/top/"

In [46]:
response=requests.get(url,headers=headers)

In [47]:
soup = BeautifulSoup(response.content, 'html.parser')

In [48]:
soup.select('h3',class_='ipc-title__text')

[<h3 class="ipc-title__text">IMDb Charts</h3>,
 <h3 class="ipc-title__text">1. The Shawshank Redemption</h3>,
 <h3 class="ipc-title__text">2. The Godfather</h3>,
 <h3 class="ipc-title__text">3. The Dark Knight</h3>,
 <h3 class="ipc-title__text">4. The Godfather Part II</h3>,
 <h3 class="ipc-title__text">5. 12 Angry Men</h3>,
 <h3 class="ipc-title__text">6. Schindler's List</h3>,
 <h3 class="ipc-title__text">7. The Lord of the Rings: The Return of the King</h3>,
 <h3 class="ipc-title__text">8. Pulp Fiction</h3>,
 <h3 class="ipc-title__text">9. The Lord of the Rings: The Fellowship of the Ring</h3>,
 <h3 class="ipc-title__text">10. The Good, the Bad and the Ugly</h3>,
 <h3 class="ipc-title__text">11. Forrest Gump</h3>,
 <h3 class="ipc-title__text">12. The Lord of the Rings: The Two Towers</h3>,
 <h3 class="ipc-title__text">13. Fight Club</h3>,
 <h3 class="ipc-title__text">14. Inception</h3>,
 <h3 class="ipc-title__text">15. Star Wars: Episode V - The Empire Strikes Back</h3>,
 <h3 class="ipc-title__text">16. The Matrix</h3>,
 <h3 class="ipc-title__text">17. Goodfellas</h3>,
 <h3 class="ipc-title__text">18. One Flew Over the Cuckoo's Nest</h3>,
 <h3 class="ipc-title__text">19. Se7en</h3>,
 <h3 class="ipc-title__text">20. Interstellar</h3>,
 <h3 class="ipc-title__text">21. It's a Wonderful Life</h3>,
 <h3 class="ipc-title__text">22. Seven Samurai</h3>,
 <h3 class="ipc-title__text">23. The Silence of the Lambs</h3>,
 <h3 class="ipc-title__text">24. Saving Private Ryan</h3>,
 <h3 class="ipc-title__text">25. City of God</h3>,
 <h3 class="ipc-title__text">Recently viewed</h3>]

In [49]:
movies = []

for i in soup.select('h3',class_='ipc-title__text'):
    movies.append(i.text)

In [50]:
movies

['IMDb Charts',
 '1. The Shawshank Redemption',
 '2. The Godfather',
 '3. The Dark Knight',
 '4. The Godfather Part II',
 '5. 12 Angry Men',
 "6. Schindler's List",
 '7. The Lord of the Rings: The Return of the King',
 '8. Pulp Fiction',
 '9. The Lord of the Rings: The Fellowship of the Ring',
 '10. The Good, the Bad and the Ugly',
 '11. Forrest Gump',
 '12. The Lord of the Rings: The Two Towers',
 '13. Fight Club',
 '14. Inception',
 '15. Star Wars: Episode V - The Empire Strikes Back',
 '16. The Matrix',
 '17. Goodfellas',
 "18. One Flew Over the Cuckoo's Nest",
 '19. Se7en',
 '20. Interstellar',
 "21. It's a Wonderful Life",
 '22. Seven Samurai',
 '23. The Silence of the Lambs',
 '24. Saving Private Ryan',
 '25. City of God',
 'Recently viewed']

# 2. Scraping Data from Wikipedia "List of states and territories of the United States"

In [52]:
url2 = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"

In [53]:
response2 = requests.get(url2)

In [54]:
soup = BeautifulSoup(response2.content, 'html.parser')

In [55]:
table = soup.find('table', {'class': 'wikitable sortable plainrowheaders'})

In [56]:
headers = [header.text.strip() for header in table.find_all('th')]

In [57]:
rows = []

for row in table.find_all('tr')[1:]:
  columns = row.find_all(['th', 'td'])
  row_data = [column.text.strip() for column in columns]

  if row_data:  # Only append non-empty rows
      rows.append(row_data)

In [58]:
rows

[['mi2', 'km2'],
 ['American Samoa',
  'AS',
  'Pago Pago[18]',
  '1900',
  'Unincorporated, unorganized[D]',
  '49,710',
  '581',
  '1,505',
  '1[C]'],
 ['Guam',
  'GU',
  'Hagåtña[20]',
  '1899',
  'Unincorporated, organized',
  '153,836',
  '571',
  '1,478',
  '1[C]'],
 ['Northern Mariana Islands',
  'MP',
  'Saipan[21]',
  '1986',
  'Unincorporated, organized[E]',
  '47,329',
  '1,976',
  '5,117',
  '1[C]'],
 ['Puerto Rico',
  'PR',
  'San Juan[22]',
  '1899',
  'Unincorporated, organized[E]',
  '3,285,874',
  '5,325',
  '13,791',
  '1[F]'],
 ['U.S. Virgin Islands',
  'VI',
  'Charlotte Amalie[23]',
  '1917',
  'Unincorporated, organized',
  '87,146',
  '733',
  '1,898',
  '1[C]']]